<!DOCTYPE html>
<html>
<head>
  <title>Pbw</title>
  <%= stylesheet_link_tag    "pbw/application", media: "all" %>
  <%= javascript_include_tag "pbw/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
