<table id="<%= plural_name %>-table">
  <caption>Listing <%= plural_table_name %></caption>
  <tr>
  	<th>Name</th>
<% attributes.each do |attribute| -%>
    <th><%= attribute.human_name %></th>
<% end -%>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/<%=model_namespace.downcase%>/new">New <%= human_name %></a>