<div id="error"></div>
<table id="<%= plural_name %>-table">
  <caption>Listing <%= plural_table_name %></caption>
  <tr>
  <% default_attributes.each do |attribute| -%>
    <% unless attribute[:name].start_with?('_') %>
    <th><%=attribute[:name]%></th>
    <% end %>
  <% end -%>
<% attributes.each do |attribute| -%>
    <th><%= attribute.human_name %></th>
<% end -%>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/<%=plural_model_name%>/new">New <%= human_name %></a>