<td><%%= name %></td>
<% attributes.each do |attribute| -%>
<td><%%= <%= attribute.name %> %></td>
<% end -%>

<td><a href="#/<%=model_namespace.downcase%>/<%%= _id %>">Show</td>
<td><a href="#/<%=model_namespace.downcase%>/<%%= _id %>/edit">Edit</td>
<td><a href="#/<%=model_namespace.downcase%>/<%%= _id %>/destroy" class="destroy">Destroy</a></td>