<div id="error"></div>
<table id="<%= singular_name %>-table">
	<tbody>
		<% default_attributes.each do |attribute| -%>
		<tr>
		  <th><%= attribute[:name] %>:</th>
		  <td><%%= <%= attribute[:name] %> %></td>
		</tr>
		<% end -%>
		<% attributes.each do |attribute| -%>
		<tr>
		  <th><%= attribute.human_name %>:</th>
		  <td><%%= <%= attribute.name %> %></td>
		</tr>
		<% end -%>
		
	</tbody>
</table>
<a href="#/<%=plural_model_name%>">Back</a>